.hidden {
    display: none;
}

#auth_footer {
    position: absolute;
    bottom: 0;
    right: 0;
}

body {
    background-color: #424242
}

.form-item {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form-text {
    color: #FFF;
}

#userSettings {
    position: absolute;
    top: 0;
    bottom: 40px;
    left: 0;
    right: 0;
    padding-top: 150px;
    background-color: rgba(66, 66, 66, 0.9);
    text-align: center;
}