body {
    background-color: #424242  
}

.rTable {
    display: table; 
}

.rTableRow {
    display: table-row; 
}

.rTableHeading {
    display: table-header-group; 
}

.rTableBody {
    display: table-row-group; 
}

.rTableFoot {
    display: table-footer-group; 
}

.rTableCell, .rTableHead { 
    display: table-cell;
}

.hidden {
    display: none;
}

#auth_footer {
    position: absolute;
    bottom: 0;
    right: 0;
}
.form-item {
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.form-text {
    color: #FFF;
}

/*User Settings*/
#userSettings {
    z-index: 9999;
    position: absolute;
    top: 0;
    bottom: 40px;
    left: 0;
    right: 0;
    padding-top: 150px;
    background-color: #424242;
    text-align: center;
}

/*File List*/
#file-container {
    margin-top: 12px;
    position: absolute;
    left: 0px;
    font-size:12px;
}

/*Edit list*/
#edit-container {
    position: absolute;
    top: 20px;
    right: 0px;
}

#editLabel {
    padding-left: 20px;
    text-align: center;
    background-color: #1A1A1A;
    color: #CCCCCC;
}

#edit-add {
    padding-left: 5px;
    background-color: #B3FFCC;
}

#edit-add:hover{
    background-color: #65CB86;
}

#edit-remove {
    padding-left: 5px;
    background-color: #F1636A;
}

#edit-remove:hover{
    background-color: #C64F64;
}

/*Collaborator List*/
#collab-container {
    position: absolute;
    right: 0px;
    bottom: 40px;
}

#collabLabel {
    text-align: center;
    background-color: #1A1A1A;
    color: #CCCCCC;
}

.collabActive {
    padding-left: 5px;
    background-color: #E6FFFF;
}

.collabActive:hover {
    background-color: #BCE9E9;
}

.collabInactive {
    padding-left: 5px;
    background-color: #D9D9D9;
}

.collabInactive:hover {
    background-color: #999999;
}


.share-link{
    padding:5px;
    border:0px;
    margin:0px;
    left: 5px;
    color: #CCCCCC;
    background-color: rgba(0,0,0,0);
}

/*Chat*/
#chat-container {
    position: absolute;
    bottom: 0px;
    width: 200px;
}

#chatLabel {
    text-align: center;
    background-color: #1A1A1A;
    color: #CCCCCC;
}

#chatLabel:hover {
    background-color: #333333;
}

#chat {
    background-color: #F2F2F2;
}

/*Tabs*/
#tab-container {
    position: absolute;
    top: 0px;
    right: 200px;
    left: 200px;  
    bottom: 20px;
    font-size: 13.5px;  
}

#new-tab {
    text-align:center;
    width: 50px;
    height: 20px;
    background-color: #1A1A1A;
    color: #CCCCCC;
}

#new-tab:hover {
    background-color: #333333;
}

.tab {
    text-align:center;
    width: 100px;
    height: 20px;
    background-color: #1A1A1A;
    color: #CCCCCC;
    border-right: 1px solid #FDF6E3; 
}

.tab:hover {
    background-color: #333333;
}

#activeTab {
    background-color: #FDF6E3;
    color: #1A1A1A;
}

/*ACE Editor*/

#editor {
    position: absolute;
    top: 20px;
    right: 210px;
    bottom: 0;
    left: 200px;
}


/*Begion of dropdown manu (syntax)*/

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 10px;
    font-size: 10px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    float: right;
    position: absolute;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.dropdown-content a {
    color: black;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd
}

.show {
    display: block;
}

/*check toggle accept boxes*/
.switch {
  position: relative;
  display: inline-block;
  float: right;
  width: 30px;
  height: 15px;
  top: 5px;
  right: 2px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 15px;
}

.slider.round:before {
  border-radius: 50%;
}

/*End of dropdown manu (syntax)*/
