body {
    background-color: #424242  
}

.rTable {
    display: table; 
}

.rTableRow {
    display: table-row; 
}

.rTableHeading {
    display: table-header-group; 
}

.rTableBody {
    display: table-row-group; 
}

.rTableFoot {
    display: table-footer-group; 
}

.rTableCell, .rTableHead { 
    display: table-cell;
}

.hidden {
    display: none;
}

#auth_footer {
    position: absolute;
    bottom: 0;
    right: 0;
}
.form-item {
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.form-text {
    color: #FFF;
}

/*User Settings*/
#userSettings {
    z-index: 9999;
    position: absolute;
    top: 0;
    bottom: 40px;
    left: 0;
    right: 0;
    padding-top: 150px;
    background-color: #424242;
    text-align: center;
}

/*Comment*/
#Comment {
    z-index: 9999;
    position: absolute;
    top: 0;
    bottom: 40px;
    left: 0;
    right: 0;
    padding-top: 150px;
    background-color: #424242;
    text-align: center;
}

/*File List*/
#file-container {
    margin-top: 12px;
    position: absolute;
    left: 0px;
    font-size:12px;
}

/*Edit list*/
#edit-container {
    position: absolute;
    top: 20px;
    right: 0px;
    max-width: 210px;
}

#editLabel {
    padding-left: 30px;
    text-align: center;
    background-color: #1A1A1A;
    color: #CCCCCC;
}

#edit-add {
    padding-left: 5px;
    background-color: #B3FFCC;
    word-wrap: break-word;
}


#edit-add:hover{
    background-color: #65CB86;
}

#edit-remove {
    padding-left: 5px;
    background-color: #F1636A;
    word-wrap: break-word;
}

#edit-remove:hover{
    background-color: #C64F64;
}

#edit-add-child {
    margin-left: 30px;
    padding-left: 5px;
    background-color: #B3FFCC;
}

#edit-add-child:hover{
    background-color: #65CB86;
}

#edit-remove-child {
    margin-left: 30px;
    padding-left: 5px;
    background-color: #F1636A;
}

#edit-remove-child:hover{
    background-color: #C64F64;
}

/*Collaborator List*/
#collab-container {
    position: absolute;
    right: 0px;
    bottom: 40px;
}

#collabLabel {
    text-align: center;
    background-color: #1A1A1A;
    color: #CCCCCC;
}

.collabActive {
    padding-left: 5px;
    background-color: #E6FFFF;
}

.collabActive:hover {
    background-color: #BCE9E9;
}

.collabInactive {
    padding-left: 5px;
    background-color: #D9D9D9;
}

.collabInactive:hover {
    background-color: #999999;
}


.share-link{
    padding:5px;
    border:0px;
    margin:0px;
    left: 5px;
    color: #CCCCCC;
    background-color: rgba(0,0,0,0);
}

/*Chat*/
#chat-container {
    position: absolute;
    bottom: 0px;
    width: 200px;
}

#chatLabel {
    text-align: center;
    background-color: #1A1A1A;
    color: #CCCCCC;
}

#chatLabel:hover {
    background-color: #333333;
}

#chat {
    background-color: #F2F2F2;
}

/*Tabs*/
#tab-container {
    position: absolute;
    top: 0px;
    right: 200px;
    left: 200px;  
    bottom: 20px;
    font-size: 13.5px;  
}

#new-tab {
    text-align:center;
    width: 50px;
    height: 20px;
    background-color: #1A1A1A;
    color: #CCCCCC;
}

#new-tab:hover {
    background-color: #333333;
}

.tab {
    text-align:center;
    width: 100px;
    height: 20px;
    background-color: #1A1A1A;
    color: #CCCCCC;
    border-right: 1px solid #FDF6E3; 
}

.tab:hover {
    background-color: #333333;
}

#activeTab {
    background-color: #FDF6E3;
    color: #1A1A1A;
}

/*ACE Editor*/

#editor {
    position: absolute;
    top: 20px;
    right: 210px;
    bottom: 0;
    left: 200px;
}

<style>
/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}



